* {
  box-sizing: border-box;
  font-family: "Trebuchet MS", Verdana, Geneva, Arial, Helvetica, sans-serif;
}

body {
  background: #002855;
}

.col {
  border: 0 solid #000000;
  border-radius: 5px;
  color: #ffffff;
  padding: 3px;
  font-size: 2.5vmin;
  margin-top: 0.5%;
  margin-bottom: 0.5%;
}

.col a {
  text-decoration: none;
  color: white;
  position: relative;
  z-index: 1;
}

.nowrap .col {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.block {
  margin: 0;
}

.img-container , .when , .body {
  text-align: center;
  font-size: 2vmin;
}

.img-container img {
  height: 8vmin;
  width: 8vmin;
}

.to {
  text-align: right;
}

.title {
  font-size: 3.5vmin;
  text-align: center;
  border: 2px solid gray;
  position: relative;
}

.main {
  font-size: 4.5vmin;
  text-align: center;
}

.row {
  background-color: #1E3F63;
  border-radius: 10px;
  margin-bottom: 15px;
}

.pr-closed {
  opacity: 0.6;
}

.pr-closed .col, .pr-closed .col a {
  color: darkgray;
}

.pr-closed img {
  opacity: 0.5;
}

.assignee {
  border: 1px solid white;
  text-align: center;
}

.assignee img {
  width: 4vmin;
  height: 4vmin;
  vertical-align: middle;
  margin-right: 1vmin;
}

.build {
  padding: 20px;
  border-radius: 20px;
  width: 40px;
  height: 40px;
}

.success {
  background-color: #00A3E0;
}

.pending  .progress {
  background-color: #002855;
}

.failure {
  background-color: #FF0080;
  border-color: #000000;
}

.error {
  background-color: #671E75;
}

.merge-err {
  background-color:  #671E75;
}

.progress {
  position: absolute;
  height: 100%;
  width: 0;
  left: 0;
  top: 0;
  margin: 0;
  padding: 0;
}

.hi-develop {
  color: #adff2f;
}

.hi-release {
  color: orange;
}

.hi-master {
  color: #8b0000;
}

.untrusted {
  opacity: 0.5;
}