* {
  box-sizing: border-box;
  font-family: "Trebuchet MS", Verdana, Geneva, Arial, Helvetica, sans-serif;
}

body {
  background: darkslategrey;
}

.col {
  border: 0 solid #000000;
  border-radius: 5px;
  color: #ffffff;
  padding: 3px;
  font-size: 2.5vmin;
  margin-top: 0.5%;
  margin-bottom: 0.5%;
}

.col a {
  text-decoration: none;
  color: white;
}

.nowrap .col {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.block {
  margin: 0;
}

.img-container , .when , .body {
  text-align: center;
  font-size: 2vmin;
}

.img-container img {
  height: 8vmin;
  width: 8vmin;
}

.to {
  text-align: right;
}

.title {
  font-size: 3.5vmin;
  text-align: center;
  border: none;
}

.main {
  font-size: 4.5vmin;
}

.merge-err {
  background-color:  #9E9E9E;
}

.row {
  background-color: rgba(255,255,255,0.2);
  border-radius: 10px;
  margin-bottom: 30px;
}

.pr-closed {
  opacity: 0.6;
}

.pr-closed .col, .pr-closed .col a {
  color: darkgray;
}

.pr-closed img {
  opacity: 0.5;
}

.assignee {
  border: 1px solid white;
  text-align: center;
}

.assignee img {
  width: 4vmin;
  height: 4vmin;
  vertical-align: middle;
  margin-right: 1vmin;
}

.build {
  padding: 20px;
  border-radius: 20px;
  width: 40px;
  height: 40px;
}

.success {
  background-color: #87B576;
}

.pending {
  background-color: #CFC167;
}

.failure {
  background-color: #9E0000;
    border: 2px black;
    border-style: solid;
}

.error {
  background-color: mediumvioletred;
}
